@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.heading-div{
    height: 140px;
    width: 700px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.heading{
    font-size: 70px;
}

.right-job{
    font-family: 'Roboto', sans-serif;
    color: #4540DB;
}

h2{
    text-shadow: 2px 2px 5px #575757;
}